---
layout: default
---

<div class="home">
 <div class="top card">
    <div class="text-center">
      <ul class="list-inline">
        {% if site.github_username %}
        <li>
          <a class="btn btn-default btn-sm" href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github-alt fa-lg"></i>
          </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
          <a class="btn btn-default btn-sm" href="https://twitter.com/{{ twitter_username }}">
            <i class="fa fa-twitter fa-lg"></i>
          </a>
        </li>
        {% endif %}
        {% if site.email %}
        <li>
          <a class="btn btn-default btn-sm" href="mailto:{{ site.email }}">
            <i class="fa fa-envelope fa-lg"></i>
          </a>
        </li>
        {% endif %}
        {% if site.pinterest %}
        <li>
          <a class="btn btn-default btn-sm" href="https://pinterest.com/{{ site.pinterest }}">
            <i class="fa fa-pinterest fa-lg"></i>
          </a>
        </li>
        {% endif %}
        {% if site.linkedin %}
        <li>
          <a class="btn btn-default btn-sm" href="https://linkedin.com/in/{{ site.linkedin }}">
            <i class="fa fa-linkedin fa-lg"></i>
          </a>
        </li>
        {% endif %}
        <li>
          <a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/feed.xml">
            <i class="fa fa-rss fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="posts card">
      <div class="card-content white-text">
      <span class="card-title">Posts</span>
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>            
          </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
   </div>

</div>
